# version of rippled to run in standalone mode on the mainchain
RIPPLED_MAINCHAIN_EXE=
# version of rippled to run on the sidechain
RIPPLED_SIDECHAIN_EXE=
# directory to store all the sidechain config stuff in
RIPPLED_SIDECHAIN_CFG_DIR=

# number of federators in the sidechain
NUM_FEDERATORS=
